target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.recommenders

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/load-impl.xml
/nbproject/genfiles.properties
/nbproject/xml-resources/

### VS Code ###
.vscode/

### OS files ###
.DS_Store
Thumbs.db
